.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-center-x {
    justify-content: center;
}

.flex-center-y {
    align-items: center;
}

.flex-around-x {
    justify-content: space-around;
}

.flex-between-x {
    justify-content: space-between;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.blue-button {
    background-color: #195ec8;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 0;
}

.pill-button {
    border-radius: 1rem;
}

.white-font {
    color: #fff;
}