// Color cube
$white: #ffffff;

$shamrock: #4bd7a8;

$regentStBlue: #a1bae2;

$thunder: #292629;

$donkeyBrown: #a3907c;

$denim: #1a5eca;

$goldenTainoi: #fecc4f;

$red: #fd0303;

$tuscany: #bd5029;

$brightTurquoise: #01d7f5;


// Median cut
$william: #3c6669;

$athensGray: #e4e8ed;

$auChico: #995d5c;

$gullGray: #97a9ba;

$muddyWaters: #b89062;


// Material design
$shamrockVibrant: #4dd3ac;

$thatchMuted: #b9a59c;

$eastBayDarkVibrant: #3b5182;

$sharkDarkMuted: #2d2e34;

$regentStBlueLightVibrant: #9dbbe3;